<div class="about">
      <h3>「NEXT IDOL GRANDPRIX 2020」総合3位の杠葉あずさプロデュース<br>【人間臭いアイドル】の初期メンバーオーディションを開催します。
</h3><br>
			<p>人間臭く、必死に、生きるためにアイドルしたい人を募集！<br>
合格後はデビューに合わせて各種メディア出演やソロプロデュースの可能性があります。<br>
作詞、作曲、動画編集、振り付け、衣装デザインなど特技や技術を活かせる人は別途報酬あり！</p><br>
      <%= video_tag "viviri.mp4", autoplay: true, muted: true, loop: true ,controls: true%>
<h3>◆杠葉あずさからのメッセージ</h3>
<p>0から一緒に【人間臭いアイドル】になってくれる人を募集してます。</p>
<p>オーディションに今まで落ちてきたり、全く経験のない子でも、今は自信が無くても大丈夫です。</p>
<p>それも含めて全部一緒に作り上げて行きたいです。</p>
<p>現状を変えたい人大歓迎です。</p>
<p>興味のある方ぜひご応募お待ちしております。</p>

<p>【選考内容】</p>
<p>１次審査／書類選考</p>
<p>２次審査／実技・面接：GW中１〜２日都内にて実施</p>
<p>最終審査／面接：事務所又はzoomにて実施</p>

<p>【応募資格】</p>
<p>16歳以上</p>

<p>【応募方法】</p>
<p>LINE@追加後、必要事項をお送りください。</p>

<p>友達追加はこちら<%= link_to '■https://lin.ee/YyQLq49',  'https://lin.ee/YyQLq49' ,target: :_blank, rel: "noopener noreferrer"%></p>

<p>【注意事項】</p>
<p>・未成年は保護者の同意を得てからご応募ください</p>
<p>・交通費、宿泊費は自己負担です</p>
<p>・緊急事態宣言などコロナに関わる事態が発生した場合は予告なく中止又は延期になる場合がございます</p>
</div>