

<div class="about">
<br>
      <h3>【2021.4.3：viviriオフィシャルサイトがオープン！】</h3><br>
			<h3>最新情報や活動内容など、随時更新いたします。</h3><br>
			<p>そしてオフィシャルSNSも開設。</p>
			<p></p>
			<p>是非、チェックしてください。</p>
			<p>■【公式】viviri Twitter</p><br>
      <p><%= link_to '@viviri_inc',  'https://twitter.com/viviri_inc' ,target: :_blank, rel: "noopener noreferrer"%></p><br>
</div>